{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Proyecto HABUI</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="{% static 'css/estilos_panel.css' %}">

    <!-- Bootstrap local -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <header class="encabezado">
        <h1>PROYECTO HABUI</h1>
    </header>

    <main class="contenido">
        <a href="{% url 'all_resources' %}" class="seccion">
            <h2>Módulo REMS</h2> 
            <img src="{% static 'iconos/icono_rems.gif' %}" alt="GIF del sistema REMS" class="icon-gif">
            <h3>Supervisa el estado de los recursos esenciales</h3>
        </a>

        <a href="{% url 'pwms_login' %}" class="seccion">
            <h2>Módulo PWMS</h2>
            <img src="{% static 'iconos/icono_pwms.gif' %}" alt="GIF del sistema PWMS" class="icon-gif">
            <h3>Supervisa el bienestar psicológico de la tripulación</h3>
        </a>

        <a class="seccion">
            <h2>Módulo de Control</h2>
            <img src="{% static 'iconos/icono_pc.gif' %}" alt="GIF del panel de control" class="icon-gif">
            <h3>Simula escenarios de riesgo, supervisa actividades y comunicación</h3>
        </a>
    </main>

    <!-- Bootstrap JS local (incluye Popper) -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>
